{% load static %}

<section class="w-[90%] lg:w-[80%] mx-auto pt-8 md:pt-12 pb-16 md:pb-24 mt-16">
    <div class="flex flex-col gap-4 items-center justify-center">
        <div class="flex justify-center">
            <div class="inline-flex items-center gap-2 px-4 py-2 bg-primary-50 rounded-2xl">
                    <span class="text-sm text-primary">
                        <span class="font-semibold">Let's break some iiice</span>
                    </span>
            </div>
        </div>

        <h2 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-bold text-primary leading-tight">
            We Get It. So We Fixed It
        </h2>

        <p class="mb-4 max-w-2xl text-center">
            Let's be honest, wishing the trash would magically disappear isn't a sustainable waste strategy (we
            checked). We realized the most powerful cleanup crew isn't a fleet of trucks; it's you. The everyday citizen
            who's sick of looking at the mess. So, we stopped the hand-wringing and built the tool we all needed. It’s
            time to move from frustration to fun-filled functionality
        </p>

        <img
                src="{% static 'common/images/recycle.png' %}"
                alt="Breaker Illustration"
                class="w-64 h-auto object-contain select-none pointer-events-none mt-8"
        >
    </div>
</section>