{% extends 'core/base.html' %}
{% load static %}
{% load tailwind_tags %}

{# Title of the page #}
{% block title %} Introducing Trash Trails — Ready to Clear the Path? {% endblock %}

{# Header #}
{% block header %}
    {% include 'components/sections/header.html' %}
{% endblock %}

{# Body of the page #}
{% block content %}
	{# Hero Section #}
	{% include 'components/sections/home/hero.html' %}

    {# Problem Statement Section #}
    {% include 'components/sections/home/problem.html' %}

    {# Ice Breaker Section #}
    {% include 'components/sections/home/breaker.html' %}

    {# Solution Section #}
    {% include 'components/sections/home/solution.html' %}

    {# Call to Action Section #}
    {% include 'components/sections/home/cta.html' %}
{% endblock %}

{# Footer #}
{% block footer %}
	{% include 'components/sections/footer.html' %}
{% endblock %}