{% load static %}

<section id="cta" class="w-[90%] lg:w-[80%] mx-auto pt-8 md:pt-12 pb-16 md:pb-24">
    <div class="flex flex-col gap-4 items-center justify-center text-center">
        {# Info Bubble #}
        <div class="flex justify-center">
            <div class="inline-flex items-center gap-2 px-4 py-2 bg-primary-50 rounded-2xl">
            <span class="text-sm text-primary">
                Now that <span class="font-semibold">You Get it</span>,
            </span>
            </div>
        </div>

        <h2 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-bold text-primary leading-tight">
            Join The Trail!
        </h2>

        <p class="max-w-2xl">
            We are a team of students who believe that technology should serve the streets it was coded on. We’re tired
            of the floods and the smells, but we’re excited about the data. <span class="font-semibold">TrashTrails isn’t
            just an app you adopt; it’s a tool you use to reclaim your community.</span>
            <em class="italic"> Individual responsibility is the first step. The second step is a smart system that
                makes that
                responsibility count.</em>
        </p>

        <div class="-rotate-3 mt-4">
            {% include 'components/button_solid.html' with href='https://github.com/Joel-Fah/TrashTrails/releases/download/v1/app-release.apk' text='Start your trail' class='w-64 border-8 rounded-[32px] border-white' %}
        </div>

        <img
                src="{% static 'common/images/about/cta_about.png' %}"
                alt="Trash Trails Mobile App Flow Illustration"
                class="w-auto h-auto object-contain select-none pointer-events-none mt-4 md:-mt-12 scale-110"
        >
    </div>
</section>