{% load static %}

<section id="problem" class="w-[90%] lg:w-[80%] mx-auto pt-8 md:pt-12 pb-16 md:pb-24 md:-mt-48">
    <div class="grid grid-cols-12 gap-4">

        {# Problem Definition #}
        <div class="col-span-12 md:col-span-4 px-4 flex flex-col">
            <div class="flex flex-col flex-grow">
                <div class="md:h-24"></div>
                <p class="mb-6">
                    Every morning in Yaoundé, nearly <span class="font-semibold">3,000 tons</span> of waste are
                    generated.
                    That’s about the weight of 500
                    African elephants—every single day. But here’s the kicker: in cities like ours, <span
                        class="font-semibold">only about half of that
                trash is actually collected.</span>
                </p>

                <p class="mb-4">

                    The rest? It stays in our neighborhoods. It clogs the gutters in Mvog-Ada, piles up in the valleys
                    of
                    Mendong, and feeds the floods that turn our streets into rivers every rainy season. We’ve become so
                    used
                    to walking past "les poubelles" that we’ve stopped seeing them. We complain to our friends, we blame
                    the
                    system, and then we keep walking.
                </p>

                <p class="font-semibold text-primary italic">
                    TrashTrails was born from a simple question: What if your complaint actually became part of the
                    solution?
                </p>
            </div>

            {# Reference source #}
            <div class="flex-col gap-1 border-t border-primary py-2 whitespace-nowrap mt-4 md:mt-0">
                <p class="text-xs md:text-sm text-primary italic">
                    <span class="font-semibold">Source:</span> MINEPDED Urban Report, 2023; Veolia Foundation, 2025
                </p>
            </div>
        </div>

        {# Image Preview - 1 #}
        <div class="col-span-12 md:col-span-4 bg-primary-50 border-8 border-white shadow-2xl rounded-[50px] md:rounded-[100px] overflow-hidden h-[300px] md:h-[600px] rotate-2 md:rotate-0">
            <img
                    src="https://images.pexels.com/photos/29348622/pexels-photo-29348622.jpeg"
                    alt="Medium trash ump in city"
                    class="w-full h-full object-cover object-center"
            >
        </div>

        {# Image Preview - 2 #}
        <div class="col-span-12 md:col-span-4 bg-primary-50 border-8 border-white shadow-2xl rounded-[50px] md:rounded-[100px] overflow-hidden h-[300px] md:h-[600px] -rotate-3 md:rotate-0 -mt-10 md:mt-48">
            <img
                    src="https://images.pexels.com/photos/15847992/pexels-photo-15847992.jpeg"
                    alt="Low trash dump in urban area"
                    class="w-full h-full object-cover object-center"
            >
        </div>
    </div>
</section>